.header {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #52796f;
    height: 80px;

}

.nav {
    display: flex;





    & a {
        background-color: #162d3c;
        align-items: center;
        border: 2px solid white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        color: white;
        min-width: 80px;
        margin: 10px;
        padding: 15px;
        font-weight: bolder;
        font-size: larger;
        list-style-type: none;
        text-decoration: none;
    }

    
    @media (max-width: 750px) {
        .header {
            width: 100%;
            
          }


    }  
}