.contact {
    text-align: center;
 background-color: #162d3c;
 
    & img {
        margin-top: .25%;
        box-shadow: 0 0 15px 0.5px;
        height: 100vh; //vh means viewport percentage. Ex: 50vh (50%) of 800px(browsers viewport width) = 400px
        width: 60%;
        opacity: 0.80;
    }

   
}

 .text {
  position: absolute;
  top: 10%;
  left: 40%;
  bottom: 20%;
  color: white;
  font-size: 80px;
  
}

