.recipeCategories {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 10px
 }

 .categoryContainer{
    box-shadow: 6px 5px 7px 3px rgba(150, 166, 168, 0.5);
    margin: auto;
    height: 650px;
    width: 300px;
    padding: 20px;
    justify-content: space-between 20px;
    text-align: center;

    & img {
      height: 400px;
      width: auto;
    }
 }
}


.categoryContainer h4 {
   color: #52796f;
   font-family: sans-serif;
   font-size: 20px;
}

.categoryContainer p {
   color: #354f52;
   font-family: sans-serif;
   font-size: 15px;


}

.homeScreenRecipeCatBtn {
   background-color: #354f52;
   border-radius: 8px;
   color: aliceblue;
   font-family: sans-serif;
   font-size: 15px;
}

.subheader {
   position: relative;


   & img {
      height: 80vh;
      width: 100%;

   }

   & .h2 {
      position: absolute;
      top: 0vh;
      left: 50%;
      transform: translate(-50%, -50%);
      /* Adjust the text position */
      color: white;
      font-size: 12vh;
      opacity: 0.8;
      text-decoration: underline;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
   }
   
 .homeScreenMainRecipeBtn{
    background-color:#354f52;
    border-radius: 8px;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 15px;
 }
 
 .homeScreenRecipeCatBtn {
    background-color:#354f52;
    border-radius: 8px;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 15px;
 }

 .subheader {
    text-align: center;
   
    & img {
        height: auto;
        width: 100%;
        background-size: cover;
    }

   & .h3 {
      position: absolute;
      text-align: center;
      top: 22vh;
      left: 50%;
      transform: translate(-50%, -50%);/* Adjust the text position */
       margin-top: 5px;
      color: white;
      font-size: 2.0vh;
      opacity: 0.5;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
}